In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# %matplotlib inline

In [2]:
pd.read_csv(r"D:\DSAssignment_NEW\Datasets\Automobile_data.csv")  #Read file from path

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [3]:
#df=pd.read_csv('https://github.com/aishwaryamate')
#https://raw.githubusercontent.com/aishwaryamate/Machine-Learning/refs/heads/main/EDA-1/data_clean.csv
#df=pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Machine-Learning/refs/heads/main/EDA-1/data_clean.csv')
df=pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Machine-Learning/refs/heads/main/EDA-1/data_clean.csv', index_col=0)
df

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     5    1  2010    67       S
2     36.0    118.0   8.0     5    2  2010    72       C
3     12.0    149.0  12.6     5    3  2010    74      PS
4     18.0    313.0  11.5     5    4  2010    62       S
5      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     5    1  2010    67       C
155   30.0    193.0   6.9     9   26  2010    70      PS
156    NaN    145.0  13.2     9   27  2010    77       S
157   14.0    191.0  14.3     9   28  2010    75       S
158   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [4]:
df.describe()

            Ozone     Solar.R        Wind         Day    Year        Temp
count  120.000000  151.000000  158.000000  158.000000   158.0  158.000000
mean    41.583333  185.403974    9.957595   16.006329  2010.0   77.727848
std     32.620709   88.723103    3.511261    8.997166     0.0    9.377877
min      1.000000    7.000000    1.700000    1.000000  2010.0   56.000000
25%     18.000000  119.000000    7.400000    8.000000  2010.0   72.000000
50%     30.500000  197.000000    9.700000   16.000000  2010.0   78.500000
75%     61.500000  257.000000   11.875000   24.000000  2010.0   84.000000
max    168.000000  334.000000   20.700000   31.000000  2010.0   97.000000

In [5]:
# +ve Skewness if mean > median (50% value) / Diff between 25% and min shold be less e.g Ozone
# -ve Skewness if mean < median (50% value) / diff between 75% and max should be less e.g, Solar.R

In [6]:
df.describe(include=object)
#Count: total values
#Unique:unique value count
#top: high freq value
#freq: total count of high freq

       Month Weather
count    158     155
unique     6       3
top        9       S
freq      34      59

In [7]:
df.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Month', 'Day', 'Year', 'Temp', 'Weather'], dtype='object')

In [8]:
df['Wind'].mean(), df['Wind'].min(), df['Wind'].max(), df['Wind'].median()

(9.957594936708862, 1.7, 20.7, 9.7)

In [9]:
df['Month'].value_counts() #Count Frequency of each value

Month
9      34
5      31
7      31
8      31
6      30
May     1
Name: count, dtype: int64

In [10]:
df.dtypes #Data tpes of each cols

Ozone      float64
Solar.R    float64
Wind       float64
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [11]:
df.info() #detail info of each col including memory utilization

<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 1 to 158
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Month    158 non-null    object
 4   Day      158 non-null    int64
 5   Year     158 non-null    int64
 6   Temp     158 non-null    int64
 7   Weather  155 non-null    object
dtypes: float64(3), int64(3), object(2)
memory usage: 11.1+ KB

In [12]:
df['Month'].unique() #get distinct values

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [13]:
df['Month'].nunique() #Total unique values

6

In [14]:
df['Month'].replace('May',5) #tmporary value replace

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: object

In [15]:
df.replace('May',5) #replace value in whole table

     Ozone  Solar.R  Wind Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     5    1  2010    67       S
2     36.0    118.0   8.0     5    2  2010    72       C
3     12.0    149.0  12.6     5    3  2010    74      PS
4     18.0    313.0  11.5     5    4  2010    62       S
5      NaN      NaN  14.3     5    5  2010    56       S
..     ...      ...   ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     5    1  2010    67       C
155   30.0    193.0   6.9     9   26  2010    70      PS
156    NaN    145.0  13.2     9   27  2010    77       S
157   14.0    191.0  14.3     9   28  2010    75       S
158   18.0    131.0   8.0     9   29  2010    76       C

[158 rows x 8 columns]

In [16]:
df['Month'].unique() #get distinct values

array(['5', 'May', '6', '7', '8', '9'], dtype=object)

In [17]:
df['Month'].replace('May',5,inplace=True) #Permnant value replace

C:\Users\HSRIT\AppData\Local\Temp\ipykernel_19148\2705419737.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Month'].replace('May',5,inplace=True) #Permnant value replace

In [18]:
df['Month'].unique() #get distinct values

array(['5', 5, '6', '7', '8', '9'], dtype=object)

In [19]:
df['Month'].dtypes

dtype('O')

In [20]:
df['Month'].astype(int)  #temporary Change

1      5
2      5
3      5
4      5
5      5
      ..
154    5
155    9
156    9
157    9
158    9
Name: Month, Length: 158, dtype: int32

In [21]:
df['Month']=df['Month'].astype(int)  #For Permnant Change

In [22]:
df.dtypes

Ozone      float64
Solar.R    float64
Wind       float64
Month        int32
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

# ...Check Duplicate values

In [23]:
0==False

True

In [24]:
1==True

True

In [25]:
df['Wind'].sum()

1573.3000000000002

In [26]:
df.duplicated() #Check duplicate rows

1      False
2      False
3      False
4      False
5      False
       ...
154    False
155    False
156    False
157     True
158    False
Length: 158, dtype: bool

In [27]:
df.shape #Check total rown n cols

(158, 8)

In [28]:
df.duplicated().sum() #Total duplicate row

1

In [29]:
df.drop_duplicates(inplace=True) #remove duplicate rows

In [30]:
df.shape

(157, 8)

In [31]:
df.duplicated().sum()

0

In [32]:
df.drop(columns=['Year'], inplace=True)

In [33]:
df

     Ozone  Solar.R  Wind  Month  Day  Temp Weather
1     41.0    190.0   7.4      5    1    67       S
2     36.0    118.0   8.0      5    2    72       C
3     12.0    149.0  12.6      5    3    74      PS
4     18.0    313.0  11.5      5    4    62       S
5      NaN      NaN  14.3      5    5    56       S
..     ...      ...   ...    ...  ...   ...     ...
153   20.0    223.0  11.5      9   30    68       S
154   41.0    190.0   7.4      5    1    67       C
155   30.0    193.0   6.9      9   26    70      PS
156    NaN    145.0  13.2      9   27    77       S
158   18.0    131.0   8.0      9   29    76       C

[157 rows x 7 columns]

In [34]:
df.to_csv('dtEDA_1.csv') #Data save to csv file

In [35]:
df.rename(columns={'Solar.R':'Solar', 'Temp':'Temperature'},inplace=True)  #Column rename

In [36]:
df

     Ozone  Solar  Wind  Month  Day  Temperature Weather
1     41.0  190.0   7.4      5    1           67       S
2     36.0  118.0   8.0      5    2           72       C
3     12.0  149.0  12.6      5    3           74      PS
4     18.0  313.0  11.5      5    4           62       S
5      NaN    NaN  14.3      5    5           56       S
..     ...    ...   ...    ...  ...          ...     ...
153   20.0  223.0  11.5      9   30           68       S
154   41.0  190.0   7.4      5    1           67       C
155   30.0  193.0   6.9      9   26           70      PS
156    NaN  145.0  13.2      9   27           77       S
158   18.0  131.0   8.0      9   29           76       C

[157 rows x 7 columns]

In [37]:
### Indexing loc and iloc function
# loc: all rows and cols included
# iloc: last index of rows and cols are excluded

In [38]:
df.loc[50:55]   #row no 50 to 55

    Ozone  Solar  Wind  Month  Day  Temperature Weather
50   12.0  120.0  11.5      6   19           73       S
51   13.0  137.0  10.3      6   20           76       S
52    NaN  150.0   6.3      6   21           77       S
53    NaN   59.0   1.7      6   22           76       C
54    NaN   91.0   4.6      6   23           76      PS
55    NaN  250.0   6.3      6   24           76       S

In [39]:
df.loc[50:55,'Ozone':'Wind']

    Ozone  Solar  Wind
50   12.0  120.0  11.5
51   13.0  137.0  10.3
52    NaN  150.0   6.3
53    NaN   59.0   1.7
54    NaN   91.0   4.6
55    NaN  250.0   6.3

In [40]:
df.loc[50:55,0:2]  #error

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [ ]:
df.iloc[50:55,0:]

In [ ]:
df.iloc[50:55,0:2]

# Missing Value Imputation

In [ ]:
# NA / NAN / NAT

#Reason
#Incomplete data entry
#Issue with machine
#Improper handling with data

#Rule
# 1-5%   Drop rows
# 5-50%  Fill / Replace
# >50%  Drop Column
# e.g: if 15% rows are having null value in col then replace it 
# if 38 null values present 157 rows then ((38/157)*100)= 24.8%

#Dealing with missing values in Numerical columns
#use mean() value: if outliers not present
#use median() value: if outliers present

#Dealing with missing values in categorical columns

In [ ]:
df.isna()

In [ ]:
df['Ozone'].unique()

In [ ]:
df.isnull().sum()

In [ ]:
len(df)

In [ ]:
for i in df.isna().sum():
    print(i)

In [ ]:
#calculate the % of missing vales in each col
for i in df.isna().sum():
    print((i*len(df))/100,'%')

In [ ]:
for i in df.isna().sum():
    print(f'{(i*len(df))/100}%')

# Dealing with missing values
# Outliers detection
#--- Descrete mathematics
#--- Scatter plot
#--- Histogram
#--- Box Plot

In [ ]:
df.hist()

In [ ]:
df.hist()
plt.tight_layout()

In [ ]:
#This should single cell only
plt.rcParams['figure.figsize']=(10,5)
plt.rcParams['figure.dpi']=300

In [ ]:
df.hist()
plt.tight_layout()

In [ ]:
ozonMedian=df['Ozone'].median()
ozonMedian

In [ ]:
df['Ozone'].fillna(ozonMedian,inplace=True)
df.isna().sum()

In [ ]:
df['Weather'].isnull().sum()

In [ ]:
df['Weather'].value_counts()

In [ ]:
df['Weather'].mode()

In [ ]:
df['Weather'].mode()[0]

In [ ]:
df['Weather'].fillna(df['Weather'].mode()[0], inplace=True)

In [ ]:
df['Weather'].isnull().sum()

# Boxplot

In [ ]:
df.boxplot()

In [ ]:
sns.boxplot(x=df['Wind'])

In [ ]:
#Capping:- Use for ouptlires replace

In [ ]:
df['Ozone'].quantile(0.80) #80% values are under 59 in ozone

In [ ]:
def outlires(data,col):
    q1=data[col].quantile(0.25)
    q3=data[col].quantile(0.75)
    iqr=q3-q1
    lwr=q1-(1.5*iqr)
    upr=q3-(1.5*iqr)
    return lwr,upr

In [ ]:
outlires(df,'Ozone')

In [ ]:
outlires(df,'Temperature')

In [ ]:
df.columns

In [ ]:
outlires(df,'Wind')

In [ ]:
#Replace outliers with UE OR LE
def outliers_detect(data, allCol):
    for col in allCol:
        q1 = data[col].quantile(0.25)
        q3 = data[col].quantile(0.75)
        iqr = q3 - q1
        lwr = q1 - (1.5 * iqr)
        upr = q3 + (1.5 * iqr)   # corrected upper bound

        data[col] = np.where(
            data[col] > upr, upr,
            np.where(data[col] < lwr, lwr, data[col])
        )

In [ ]:
outliers_detect(df,df.drop(columns=['Weather']).columns)

In [ ]:
df.boxplot()

In [ ]:
df.shape

# Scatter Plot

In [ ]:
sns.scatterplot(x=df['Ozone'],y=df['Solar'])

In [ ]:
sns.scatterplot(x=df['Ozone'],y=df['Temperature'])

In [ ]:
sns.scatterplot(x=df['Ozone'],y=df['Temperature'],hue=df['Weather'])

In [ ]:
sns.scatterplot(x=df['Ozone'],y=df['Temperature'],hue=df['Weather'],style=df['Month'])

In [ ]:
import plotly.express as pe

In [ ]:
pe.scatter(data_frame=df, x='Ozone',y='Temperature', color='Weather')  #Tooltip

In [ ]:
sns.pairplot(df)

In [ ]:
sns.pairplot(df,hue='Weather')  #Include desity graph

In [ ]:
 df.corr

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
sns.heatmap(df.select_dtypes(include='number').corr(), annot=True)

In [ ]:
sns.heatmap(df.select_dtypes(include='number').corr(), annot=True, cmap='viridis')

In [43]:
#Transformations (One Hot Encoding): (OHE)
#df=pd.get_dummies(data=df,columns=['Weather'])
df

     Ozone  Solar  Wind  Month  Day  Temperature Weather
1     41.0  190.0   7.4      5    1           67       S
2     36.0  118.0   8.0      5    2           72       C
3     12.0  149.0  12.6      5    3           74      PS
4     18.0  313.0  11.5      5    4           62       S
5      NaN    NaN  14.3      5    5           56       S
..     ...    ...   ...    ...  ...          ...     ...
153   20.0  223.0  11.5      9   30           68       S
154   41.0  190.0   7.4      5    1           67       C
155   30.0  193.0   6.9      9   26           70      PS
156    NaN  145.0  13.2      9   27           77       S
158   18.0  131.0   8.0      9   29           76       C

[157 rows x 7 columns]

In [42]:
pd.get_dummies(data=df,columns=['Weather'])

,Ozone,Solar,Wind,Month,Day,Temperature,Weather_C,Weather_PS,Weather_S
1,41.0,190.0,7.4,5,1,67,False,False,True
2,36.0,118.0,8.0,5,2,72,True,False,False
3,12.0,149.0,12.6,5,3,74,False,True,False
4,18.0,313.0,11.5,5,4,62,False,False,True
5,NaN,NaN,14.3,5,5,56,False,False,True
...,...,...,...,...,...,...,...,...,...
153,20.0,223.0,11.5,9,30,68,False,False,True
154,41.0,190.0,7.4,5,1,67,True,False,False
155,30.0,193.0,6.9,9,26,70,False,True,False
156,NaN,145.0,13.2,9,27,77,False,False,True
158,18.0,131.0,8.0,9,29,76,True,False,False

In [44]:
pd.get_dummies(data=df,columns=['Weather'],dtype=int)

,Ozone,Solar,Wind,Month,Day,Temperature,Weather_C,Weather_PS,Weather_S
1,41.0,190.0,7.4,5,1,67,0,0,1
2,36.0,118.0,8.0,5,2,72,1,0,0
3,12.0,149.0,12.6,5,3,74,0,1,0
4,18.0,313.0,11.5,5,4,62,0,0,1
5,NaN,NaN,14.3,5,5,56,0,0,1
...,...,...,...,...,...,...,...,...,...
153,20.0,223.0,11.5,9,30,68,0,0,1
154,41.0,190.0,7.4,5,1,67,1,0,0
155,30.0,193.0,6.9,9,26,70,0,1,0
156,NaN,145.0,13.2,9,27,77,0,0,1
158,18.0,131.0,8.0,9,29,76,1,0,0

In [45]:
df

     Ozone  Solar  Wind  Month  Day  Temperature Weather
1     41.0  190.0   7.4      5    1           67       S
2     36.0  118.0   8.0      5    2           72       C
3     12.0  149.0  12.6      5    3           74      PS
4     18.0  313.0  11.5      5    4           62       S
5      NaN    NaN  14.3      5    5           56       S
..     ...    ...   ...    ...  ...          ...     ...
153   20.0  223.0  11.5      9   30           68       S
154   41.0  190.0   7.4      5    1           67       C
155   30.0  193.0   6.9      9   26           70      PS
156    NaN  145.0  13.2      9   27           77       S
158   18.0  131.0   8.0      9   29           76       C

[157 rows x 7 columns]

In [46]:
df=pd.get_dummies(data=df,columns=['Weather'],dtype=int)

In [47]:
df

,Ozone,Solar,Wind,Month,Day,Temperature,Weather_C,Weather_PS,Weather_S
1,41.0,190.0,7.4,5,1,67,0,0,1
2,36.0,118.0,8.0,5,2,72,1,0,0
3,12.0,149.0,12.6,5,3,74,0,1,0
4,18.0,313.0,11.5,5,4,62,0,0,1
5,NaN,NaN,14.3,5,5,56,0,0,1
...,...,...,...,...,...,...,...,...,...
153,20.0,223.0,11.5,9,30,68,0,0,1
154,41.0,190.0,7.4,5,1,67,1,0,0
155,30.0,193.0,6.9,9,26,70,0,1,0
156,NaN,145.0,13.2,9,27,77,0,0,1
158,18.0,131.0,8.0,9,29,76,1,0,0