In [1]:
#import scipy.stats
from scipy import stats as sc
import pandas as pd

In [5]:
df=pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/refs/heads/main/Iris.csv', index_col=0)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
df.iloc[0,0]

5.1

In [10]:
df.iloc[:2]  #All Cols, 2 Rows data

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa

In [12]:
df.iloc[:,2]  #All  Rows data, 1 col

Id
1      1.4
2      1.4
3      1.3
4      1.5
5      1.4
      ...
146    5.2
147    5.0
148    5.2
149    5.4
150    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

In [13]:
df.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [14]:
#Annova Test Fucntion
f,p=sc.f_oneway(df['SepalLengthCm'],df['SepalWidthCm'],df['PetalLengthCm'],df['PetalWidthCm'])
f,p

(483.57128302425997, 3.4996987081933735e-159)

In [15]:
if p<0.05:
    print('Reject Null Hypo! Atleast one sample is diffrent')
else:
    print('Fail to reject null hypo!')

Reject Null Hypo! Atleast one sample is diffrent