In [1]:
#import scipy.stats
from scipy import stats as sc
import pandas as pd

In [16]:
df=pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/refs/heads/main/chi2.csv', index_col=0)
df

   Athlete Smoker
0        Y    yes
1        Y    yes
2        Y     no
3        Y     no
4        Y    yes
5        Y     no
6        Y    yes
7        Y     no
8        Y     no
9        Y     no
10       Y     no
11       Y     no
12       Y     no
13       Y     no
14       Y     no
15       Y     no
16       Y     no
17       Y     no
18       N    yes
19       N    yes
20       N    yes
21       N    yes
22       N    yes
23       N    yes
24       N    yes
25       N    yes
26       N    yes
27       N    yes

In [17]:
df.iloc[0,0]

'Y'

In [18]:
df.iloc[:2]  #All Cols, 2 Rows data

  Athlete Smoker
0       Y    yes
1       Y    yes

In [27]:
df['Athlete']

0     Y
1     Y
2     Y
3     Y
4     Y
5     Y
6     Y
7     Y
8     Y
9     Y
10    Y
11    Y
12    Y
13    Y
14    Y
15    Y
16    Y
17    Y
18    N
19    N
20    N
21    N
22    N
23    N
24    N
25    N
26    N
27    N
Name: Athlete, dtype: object

In [25]:
df.iloc[:,1]  #All  Rows data, 1 col

0     yes
1     yes
2      no
3      no
4     yes
5      no
6     yes
7      no
8      no
9      no
10     no
11     no
12     no
13     no
14     no
15     no
16     no
17     no
18    yes
19    yes
20    yes
21    yes
22    yes
23    yes
24    yes
25    yes
26    yes
27    yes
Name: Smoker, dtype: object

In [33]:
obs=pd.crosstab(index=df['Athlete'],columns=df['Smoker'])
obs

Smoker   no  yes
Athlete
N         0   10
Y        14    4

In [34]:
chi2, p,df,exp=sc.chi2_contingency(obs)
chi2,p,df,exp

(12.6,
 0.00038574675568200776,
 1,
 array([[5., 5.],
        [9., 9.]]))

In [38]:
if p<0.05:
    print('Ho: Reject Null Hypo! Cols are independent')
else:
    print('Ha: Fail to reject null hypo! Cols are dependent on each other')

Ho: Reject Null Hypo! Cols are independent